name: Points service CD
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  cd:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        repository: Logotipiwe/dc_vars
        token: ${{secrets.PAT}}
    - name: load-env
      uses: duskmoon314/action-load-env@v1.1.0

    - uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ env.DOCKER_USER }}
        password: ${{ env.DOCKER_PAT }}
    - name: Build
      id: build_push
      run: |
        ls
        export IMAGE=${{ env.DOCKER_USER }}/points-service:$(date +%s)
        docker build . -t ${IMAGE}
        docker push ${IMAGE}
        echo "IMAGE=${IMAGE}" >> "$GITHUB_ENV"
    - name: Upload
      uses: garygrossgarten/github-action-scp@release
      with:
        local: .
        concurrency: 20
        remote: /kuber/points-service
        host: ${{ env.DC_HOST }}
        username: ${{ env.SSH_USER }}
        password: ${{ env.SSH_PASSWORD }}
    - name: Deploy
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ env.DC_HOST }}
        username: ${{ env.SSH_USER }}
        password: ${{ env.SSH_PASSWORD }}
        port: 22
        script: |
          export IMAGE=${{ env.IMAGE }}
          
          export DB_HOST: ${{ env.DB_HOST }}
          export DB_USER: ${{ env.DB_USER }}
          export DB_PASS: ${{ env.DB_PASS }}
          export M_TOKEN: ${{ env.M_TOKEN }}
          #export [[PARAM NAME]]=${{ env.[[PARAM_NAME_ENV]] }} //REPLACEME
          
          docker-compose -f /kuber/points-service/points-service.yml down --remove-orphans
          docker-compose -f /kuber/points-service/points-service.yml up -d
